<%# views/home.ejs %>
 
<% extend('layout_with_menu') %>

<div class="card">
	<h1>About</h1>
	<p>This section is reserved for information, tutorials, guidance, etc.</p>
	<p>Most home information will be added here and home will be transformed into a dashboard.</p>
	<p>Meanwhile this is a placeholder.</p>
	<p>It will be available in a future version.</p>
</div>