<%# views/activities_list.ejs %>
 
<% extend('layout_with_menu') %>

<div class="card">
	<h1>Activities</h1>
	<p>Activities view is temporally disabled.</p>
	<p>This tab is designed to create "template activities" for them later to be copied into tests.</p>
	<p>These "template activities" help the creation of multiple test cases similar with small modifications.</p>
	<p>It will be available in a future version.</p>
</div>