<%# views/home.ejs %>
 
<% extend('layout') %>

<div class="card">
	<h1>Home</h1>
	<p>Welcome user!</p>
	<p>This is the main view of Simva.</p>
	<p>You can go to Activities to create survey activities, gameplay activities, and other types of custom activities required to build an study.</p>
	<p>Use the Studies tab to create an study where a set of activities can be set up for an evaluation to be performed.</p>
	<p>To manage Users and Groups, use the Groups tab where groups of users and users themselves can be created in order to allow them to participate in the studies.</p>
	<p>To get more information visit:

		<ul>
			<li>Github: <a href="https://github.com/e-ucm/simva">https://github.com/e-ucm/simva/</a></li>
			<li>e-UCM: <a href="https://e-ucm.es/">https://e-ucm.es/</a></li>
			<li>More projects: <a href="https://e-ucm.es/">https://github.com/e-ucm/</a></li>
		</ul>
	</p>
</div>