<%# views/studenthome.ejs %>
 
<% extend('layout_with_menu') %>

<div class="card">
	<h1>Home</h1>
	<p>Welcome user!</p>
	<p>This is the main view of Simva.</p>
	<p>You can go to Activities to create survey activities, gameplay activities, and other types of custom activities required to build an study.</p>
	<p>Use the Studies tab to create an study where a set of activities can be set up for an evaluation to be performed.</p>
	<p>To manage Users and Groups, use the Groups tab where groups of users and users themselves can be created in order to allow them to participate in the studies.</p>
</div>