<!DOCTYPE html>
<html>
<head>
	<title>Simva Login</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript">
		var apiurl = "<%= config.simva.url %>";

		$(document).ready(function() {
			$("#login_form").on('submit', function(event){
				event.preventDefault();
				login($("#login_username").val(), $("#login_password").val(), function(error, result){
					if(error && error.responseJSON){
						$("#error").text(error.responseJSON.message);
					};
				});

				return false;
			});
		});

		let getStudies = function(username, password, callback){

			let body = { username: username, password: password }

			$.ajax({
				type: 'POST',
				url: apiurl + '/users/login',
				data: JSON.stringify(body),
				contentType: 'application/json',
				dataType: 'json',
				success: function(data){
					callback(null, data);
				},
				error: callback
			});
		}
	</script>
</head>
<body>
	<div class="header">
		<div class="left"><span class="logo"><img src="/logo.png"></span> <span class="title">Simva - A Simple Validator</span></div>
		<div class="right">
			<span><a href="/users/logout"><img src="/icon/user.png"> <span><%= user.data.username %></span></a></span>
			<span><a class="logout" href="/users/logout"><img src="/icon/power.png"> <span>Logout</span></a></span>
		</div>
	</div>

	<div class="menu">
		<ul>
			<li><a href="/"><span><img src="/icon/home.png"></span> <span>Home</span></a></li>
			<li><a href="/activities/"><span><img src="/icon/survey.png"></span> <span>Activities</span></a></li>
			<li><a href="/studies/"><span><img src="/icon/study.png"></span> <span>Studies</span></a></li>
			<li><a href="/groups/"><span><img src="/icon/group.png"></span> <span>Groups</span></a></li>
			<li><a href="/about"><span><img src="/icon/info.png"></span> <span>About</span></a></li>
		</ul>
	</div>

	<div class="content">
		<h1>Studies</h1>
		<a href="test"><div class="selectable card third">
			<h1>Study: name</h1>
			<p><strong>Groups:</strong> 1</p>
			<p><strong>Tests:</strong> 1</p>
			<p><strong>Groups:</strong> 1</p>
		</div></a>

		<a href="test"><div class="selectable card third">
			<h1>Study: name</h1>
			<p><strong>Groups:</strong> 1</p>
			<p><strong>Tests:</strong> 1</p>
			<p><strong>Groups:</strong> 1</p>
		</div></a>

		<a href="test"><div class="selectable card third">
			<h1>Study: name</h1>
			<p><strong>Groups:</strong> 1</p>
			<p><strong>Tests:</strong> 1</p>
			<p><strong>Groups:</strong> 1</p>
		</div></a>

		<a href="test"><div class="selectable card third">
			<h1>Study: name</h1>
			<p><strong>Groups:</strong> 1</p>
			<p><strong>Tests:</strong> 1</p>
			<p><strong>Groups:</strong> 1</p>
		</div></a>

		<a href="test"><div class="selectable card third">
			<h1>Study: name</h1>
			<p><strong>Groups:</strong> 1</p>
			<p><strong>Tests:</strong> 1</p>
			<p><strong>Groups:</strong> 1</p>
		</div></a>
	</div>
</body>
</html>