<%# views/users_contact_admin.ejs %>

<% extend('layout') %>

<div id="role_selection" class="content">
	<div class="floater">
		
		<img src="/logo_text.png" alt="logo" />
		<h1>Contact Administrator</h1>
		<p>Welcome user!</p>
		<p>Please contact your SIMVA administrator at <%= config.sso.administratorContact%> to atribute a new role.</p>
	</div>
</div>