<%# views/users_contact_admin.ejs %>

<% extend('layout') %>

<div id="role_selection" class="content">
	<div class="floater">
		<title>Error : Contact Administrator</title>
		<img src="/logo_text.png" alt="logo" />
	</div>
</div>