<%# views/users_contact_admin.ejs %>
 
<% extend('layout') %>

<div class="floater">
	<title>Error : Contact Administrator</title>
	<div id="login_box">
		<img src="/logo_text.png" alt="logo" />
	</div>
</div>