<%# views/users_contact_admin.ejs %>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="header">
		<div class="left"><span class="logo"><img src="/logo.png"></span> <span class="title">Simva - A Simple Validator</span></div>
		<div class="right">
			<span><a href="<%= config.sso.accountUrl%>"><img src="/icon/user.png"> <span><%= user.data.username %></span></a></span>
			<span><a class="logout" href="/users/logout"><img src="/icon/power.png"> <span>Logout</span></a></span>
		</div>
	</div>
	
	<div class="floater">
		<title>Error : Contact Administrator</title>
		<div id="login_box">
			<img src="/logo_text.png" alt="logo" />
		</div>
	</div>
</body>
</html>