<%# views/users_role_edit.ejs %>

<% extend('layout') %>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/utils.js"></script>
<script type="text/javascript" src="/simva.js"></script>
<script type="text/javascript">
	Simva.setAPIURL("<%= config.api.host %>");
	$(document).ready(function() {
		$("#register_form").on('submit', function(event){
			event.preventDefault();
			let form = Utils.getFormData($("#role_form"));
			console.log(form);
			Simva.SetRole(form.role, function(error, result){
				if(error && error.responseJSON){
					$("#error").text(error.responseJSON.message);
				}else{
					console.log(result);
					window.location.replace('/');
				}
			});
			return false;
		});
	});
</script>
<div id="role_selection" class="content">
	<img id="logo" src="/logo_text.png" alt="logo" />
	<title>Simva Role Selection</title>
	<form method="post" id="role_form">
		<fieldset>
			<div class="role_selector">
				<input id="researcher_role" type="radio" name="role" value="researcher"><label for="researcher_role">Researcher</label>
				<input id="teacher_role" type="radio" name="role" value="teacher"><label for="teacher_role">Teacher</label>
				<input id="teaching_assistant_role" type="radio" name="role" value="teaching-assistant"><label for="teaching_assistant_role">Teaching Assistant</label>
				<input id="student_role" type="radio" name="role" value="student" checked><label for="student_role">Student</label>
			</div>
		</fieldset>
		<input type="submit" value="Choose this Role" />
	</form>
</div>
